<section id="contact">
  <div class="contact-wrapper">
    <h1><strong>Contact Me</strong></h1>
    <hr class="title-bar">
    <div class="contact-block-wrapper">
      <div class="contact-col-1">
        <div class="contact-col-1-row-1">
          <mat-icon class="contact-icon">mail</mat-icon>
          <h3 class="contact-header">Do not hesitate to contact me</h3>
        </div>
      </div>
      <div class="contact-col-2">
        <div class="contact-col-2-row-1">
          <a href="mailto:dhruvajyothk@outlook.com" title="Email">
            <mat-icon class="contact-mail-icon">email</mat-icon>
          </a>
          <a class="contact-icon" title="Linked In" href="https://www.linkedin.com/in/dhruvajyoth-kommuri-49425a26a/"
            target="_blank">
            <img src="assets/images/linkedin.svg" alt="image" />
          </a>
          <!-- <mat-icon class="contact-icon" svgIcon="linkedin"></mat-icon> -->
          <!-- <mat-icon class="contact-icon">email</mat-icon> -->
          <a href="tel:+1819-919-5415" title="Call Me">
            <mat-icon class="contact-phone-icon">phone</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <p>contact works!</p> -->
